.container{
    height: 300px;
    width: 600px;
    background-color: rgb(95, 95, 95);
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 1cqh;
    justify-items: center;
    align-items: center;

}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 1px solid black;
    text-align: center;
}

#one{
    /* grid-column-start: 1;
    grid-column-end: 4; */

    /* grid-column: 1/4; */
    /* grid-column: 1/span 3; */
}