*{
    text-align: center;
}

#mainTopic{
    color: blue;
}

h1, h3, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#para{
    color: white;
    background-color: cornflowerblue;
}