*{
    font-family: 'Courier New', Courier, monospace;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;

}

h1, h3{
    color: #b92b27;
}

.upvote{
    background-color: #b92b27;
    color: white;
}

main p{
    color: green;
}

h1::first-letter{
    color: green ;
}

h1::selection{
    background-color: green;
}

button:hover{
    background-color: rgb(54, 198, 54);
}