/* 
div{
    height: 200px;
    width: 500px;
    color: white;
    background-color: green;

    /* border-width: 5px;
    border-style: solid;
    border-color: red; */

    /* border: 5px solid red; */
    /* border-left: 10px solid black; */
    /* border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 30px;
    margin: 10px 50px 60px 80px; */
/* } */

/* h1{
    border-width: 2px;
    border-style: dashed;
    border-color: green;
}

button{
    border: 2px solid black;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
} */ 


/* light CSS */
/* #qs_outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.qs_inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin:10px;
    border-radius: 50%;
}

#red_light{
    background-color: red;
}

#yellow_light{
    background-color: yellow;
}

#green_light{
    background-color: green;
} */


/* display css */
/* h2{
    display: inline;
    background-color: red;
}

span{
    display: block;
    background-color: green;
} */

/* span{
    background-color: lightgreen;
    border: 2px solid black;
    height: 100px;
    width: 50px;
    padding: 50px;
} */
div{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block ;
}
