.container {
  height: 400px;
  width: 600px;
  background-color: aqua;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}

.item {
  background-color: pink;
}

#one {
  grid-column: 1 / span 12;
}

#two {
  grid-row: 2 / span 10;
  grid-column: 1 / span 3;
}

#three {
  grid-row: 2 / span 1;
  grid-column: 4 / span 6;
}

#four {
  grid-row: 2 / span 10;
  grid-column: 10 / span 3;
}

#five {
  grid-row: 3 / span 9;
  grid-column: 4 / span 6;
}

#six {
  /* grid-row: 2/span 10; */
  grid-column: 1 / span 12;
}

@media (max-width: 720px) {
  .container {
    height: 400px;
    width: 720px;
    background-color: aqua;
  }
  #one {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
  }

  #two {
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
  }

  #three {
    grid-row: 3 / span 9;
    grid-column: 1 / span 3;
  }

  #four {
    grid-row: 3 / span 9;
    grid-column: 4 / span 9;
  }

  /* Ads */
  #five {
    grid-row: 12 / span 1;
    grid-column: 1 / span 3;
  }

  /* Footer */
  #six {
    grid-row: 12 / span 1;
    grid-column: 4 / span 9;
  }
}
