div{
    height: 200px;
    width: 200px;
    background-color: rgb(30, 244, 30);
    margin: 0 auto;
    margin-top: 20px;
    /* transition: 2s .3s; */
    

}

div:hover{
    background-color: red;
    /* border-radius: 50%; */
    /* margin-top: 500px; */
    transform: rotate(45deg);
}