*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px ;
    cursor: pointer;
}

.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    transition: all .3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .btn_two i{
    color: gray;
    font-size: 25px;
    position: absolute;
    line-height: 60px;
    left: 275px;
    cursor: pointer;
    /* opacity: 0; */
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    opacity: .5;
    padding: 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover{
    font-size: 40px;
}

.sidebar_menu .btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    font-size: 1.5rem;
}

#check:checked ~ .sidebar_menu{
    left: 0px;
}

#check:checked ~ .btn_one{
    display: none;
}