/* h1{
    text-align: right;
    border: solid;
    font-weight: normal;

} */

/* p{
    /* text-align: justify; */
    /* background-color: aqua; */

    /* text-decoration: wavy red underline; */
    /* text-decoration-color: rgb(255, 0, 0); */
    /* font-weight: bolder; */
    /* line-height: 1.25; */
    /* letter-spacing: 5px; */
    /* font-family: copper; */
/* } */ 

/* a{
    text-decoration: none;
} */

h1{
    font-family: leage spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}