*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: brown;
    background-color: bisque;
    text-align: center;
    line-height: 30px;
}



h1, h3, h4{
    text-align: center;
}

a{
    color: green;
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: #000000;
}

span{
    text-decoration: underline;
}

